html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
*{
    box-sizing: inherit;
}
.firstBox{
    background-color: rgb(234, 234, 234);
    border-radius: 0 0 70px 70px;
    width: 100%;
    height: 100vh;
    padding: 1.5% 1% 5% 2%;
    text-align: center;
    position: relative;
    z-index: 4;
}
    .firstBox nav{
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        font-size: 1vw;
        gap: 15px;
    }
    nav button{
        background-color: white;
        border-radius: 50px;
        border: none;
        max-width: 130px;
        padding: 0 1%;
        font-size: 1vw;
    }
    .firstBox img{
        border: 2px solid black;
        border-radius: 50%;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
    }
    .name{
        font-weight: 800;
        font-size: 4vw;
        letter-spacing: 4px;
        margin: 0.1em;
    }
    .george{
        letter-spacing: 7px;
    }
    #latestProject{
        background-color: black;
        border-radius: 50px;
        border: none;
        margin-top: 40px;
        width: 200px;
        height: 50px;
        color: whitesmoke;
        font-size: 1.2vw;
    }
.secondBox{
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 70px 70px;
    width: 100%;
    height: 30vh;
    padding-top: 5%;
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 250px;
    position: relative;
    z-index: 3;
}
    .secondBox a{
        text-decoration: none;
        text-shadow: none;
        color: black;   /* for when image wont load */
    }
    .secondBox img{
        width: 80px;
        
    }
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
    .backdrop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black overlay */
        z-index: 1;  /* Behind the content */
    }
    .popupContent{
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 500px;
        width: 90%;
        z-index: 2;
        font-size: 1.7vw;
    }
    .popupContent h3{
        margin-top: 0;
    }
    .popupContent ul{
        list-style-type: none;
        padding: 0;
        font-size: 1.2vw;
    }
    .popupContent li{
        margin: 10px 0;
    }
    .popupContent a{
        text-decoration: none;
        color: black;
    }
    .popupContent a:hover{
        text-decoration: underline;
    }
    .hidden{
        display: none;
    }
.thirdBox{
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: 120vh;
    padding: 17% 1% 5% 1%;
    text-align: center;
    margin-top: -200px;
    position: relative;
    z-index: 1;
}
    .thirdBox h2{
        font-weight: 600;
        font-size: 2.5vw;
    }
    #subtext{
        margin-top: -1em;
        font-size: 2vw;
        line-height: 1.5em;
    }
    .skills{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        gap: 5%;
    }
    .skills h3{
        font-size: 1.5vw;
        filter: grayscale(100%);
        line-height: 2em;
    }
    .skill{
        width: 15%;
    }
.fourthBox{
    background-color: rgb(255, 255, 255);
    border-radius: 70px 70px 0 0;
    padding: 5% 1% 1%;
    margin-top: -50px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}
    .fourthBox h2{
        font-size: 3vw;
    }
    #nextProject{
        background-color: black;
        border-radius: 50px;
        border: none;
        margin: 30px 0 70px;
        width: 150px;
        height: 50px;
        color: whitesmoke;
        font-size: 1.5vw;
    }
