html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
*{
    box-sizing: inherit;
}
.firstBox{
    background-color: rgb(234, 234, 234);
    border-radius: 0 0 70px 70px;
    width: 100%;
    height: 100vh;
    padding: 1% 1% 5% 1%;
    text-align: center;
    position: relative;
    z-index: 4;
}
    .firstBox nav{
        margin-bottom: 80px;
        display: flex;
        flex-direction: row;
        font-size: 1vw;
        gap: 10px;
    }
    nav button{
        background-color: white;
        border-radius: 50px;
        border: none;
        padding: 1%;
    }
    .firstBox img{
        border: 2px solid black;
        border-radius: 50%;
        margin-bottom: 40px;
        width: 200px;
        height: 200px;
    }
    .name{
        font-weight: 800;
        font-size: 4vw;
        letter-spacing: 4px;
        margin: 0.1em;
    }
    .george{
        letter-spacing: 7px;
    }
    #latestProject{
        background-color: black;
        border-radius: 50px;
        border: none;
        margin-top: 60px;
        width: 200px;
        height: 50px;
        color: whitesmoke;
        font-size: 1.2vw;
    }
.secondBox{
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 70px 70px;
    width: 100%;
    height: 30vh;
    padding-top: 5%;
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 250px;
    position: relative;
    z-index: 3;
}
    .secondBox a{
        text-decoration: none;
        text-shadow: none;
        color: black;   /* for when image wont load */
    }
    .secondBox img{
        width: 80px;
        
    }
.thirdBox{
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: 110vh;
    padding: 18% 1% 5% 1%;
    text-align: center;
    margin-top: -200px;
    position: relative;
    z-index: 1;
}
    .thirdBox h2{
        font-weight: 600;
        font-size: 2.5vw;
    }
    #subtext{
        margin-top: -1em;
        font-size: 2vw;
        line-height: 1.5em;
    }
    .skills{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        gap: 5%;
    }
    .skills h3{
        font-size: 1.5vw;
        filter: grayscale(100%);
        line-height: 2em;
    }
    .skill{
        width: 15%;
    }
.fourthBox{
    background-color: rgb(255, 255, 255);
    border-radius: 70px 70px 0 0;
    padding: 5% 1% 1%;
    margin-top: -50px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}
    .fourthBox h2{
        font-size: 3vw;
    }
    #nextProject{
        background-color: black;
        border-radius: 50px;
        border: none;
        margin: 30px 0 70px;
        width: 150px;
        height: 50px;
        color: whitesmoke;
        font-size: 1.5vw;
    }